
@{
    ViewBag.Title = "Sales Per Store";
}

<h2>Sales Per Store</h2>

<div ng-app="Charts" ng-controller="SalesPerStore">
    <div class="form-group col-md-12">
        <div class="period-group">
            <label>Initial Year:</label>
            <select ng-model="period.begin" class="form-control">
                <option ng-repeat="year in availableYears" ng-value="year">{{year}}</option>
            </select>
        </div>
        <div class="period-group">
            <label>Final Year:</label>
            <select ng-model="period.end" class="form-control">
                <option ng-repeat="year in availableYears" ng-value="year">{{year}}</option>
            </select>
        </div>
        <div class="period-group">
            <input type="submit" id="submit" ng-click="refresh()" value="Show Data" class="btn btn-success" />
        </div>
    </div>
    <div class="form-group col-md-12">
        <span class="alert-danger" ng-show="error != ''">{{error}}</span>
    </div>
    <div id="container"></div>
 </div>

@section scripts
{
    <script src="~/Scripts/Highcharts/highcharts.js"></script>
    <script src="~/Scripts/Highcharts/js/modules/series-label.js"></script>
    <script src="~/Scripts/Highcharts/js/modules/exporting.js"></script>
    <script src="~/Scripts/Charts/API.js"></script>
    <script src="~/Scripts/Charts/SalesPerStore.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
}