
@{
    ViewBag.Title = "Sales Per Product";
}

<h2>Sales Per Product</h2>
<div ng-app="Charts" ng-controller="SalesPerProduct">
    <div class="form-group col-md-12">
        <div class="period-group">
            <label>Begin Date:</label>
            <input type="date" name="begin" value="" ng-model="period.begin" class="form-control" />
        </div>
        <div class="period-group">
            <label>End Date:</label>
            <input type="date" name="begin" value="" ng-model="period.end" class="form-control" />
        </div>
        <div class="period-group">
            <input type="submit" id="submit" ng-click="refresh()" value="Show Data" class="btn btn-success" />
        </div>

    </div>
    <div class="form-group col-md-12">
        <label>Products:</label>
        <div class="row">
            <div class="col-lg-2 col-md-2" ng-repeat="n in getTotalColumns()">
                <ul>
                    <li ng-repeat="item in getNext(n, 5)">
                        <label class="checkbox-inline check-label">
                            <input ng-checked="isChecked(item)" ng-click="updateCheck(item)" type="checkbox" class="check">
                            {{item.text}}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="form-group col-md-12">
        <span class="alert-danger" ng-show="error != ''">{{error}}</span>
    </div>

    <div id="container"></div>
</div>

@section scripts
{
    <script src="~/Scripts/Highcharts/highcharts.js"></script>
    <script src="~/Scripts/Highcharts/js/modules/series-label.js"></script>
    <script src="~/Scripts/Highcharts/js/modules/exporting.js"></script>
    <script src="~/Scripts/Charts/API.js"></script>
    <script src="~/Scripts/Charts/SalesPerProduct.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
}