@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Forever16 Dashboard</h1>
    <p>
        Here you will have access to information that will allow you to take decisions based on data analysis.
    </p>
</div>